/* This is the main css file for the page
 * Hopefully it will be better than the last one ;)
 * Shoutouts to CollabVM if you see then 
*/

/*  linear-gradient(104deg, rgba(19,2,70,1) 0%, rgba(9,166,115,1) 57%, rgba(0,255,233,1) 100%); */

.pageBackground {
    background: url("images/background2.png") repeat
    
}

.mainDivArea {
    border-style:solid;
    padding-left: 1%; 
    padding-right: 1%;
    border-width: 2px;
    border-color: #00002d;
    border-radius: 10px;
    margin: 1% 1% 1% 1%;
    border-right-width: 4px; 
    border-right-color: #00ffe1;
    background: rgba(240, 240, 240, 0.90);
    overflow: hidden
    
}

.titleStyle {
    font-family: Raleway;
    font-weight: light;
    color: #00002d;
    font-size: 1.5em;
    padding-left: 2%;
    margin-bottom: 0.7%;
    margin-top: 0.85%;
    float:left;
    
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
    
}

.horizontalRule {
    width:97%;
    border-width: 1px;
    border-color: #00002d;
    border-style: solid;
    border-radius: 10px;
    border-image-source: linear-gradient(104deg, rgba(19,2,70,1) 0%, rgba(9,166,115,1) 57%, rgba(0,255,233,1) 100%);
    border-image-slice : 1;
    
}

.standardBox {
    border-style:solid;
    padding-left: 2%; 
    padding-right: 2%;
    border-width: 2px;
    border-color: #00002d;
    border-radius: 10px;
    margin: 2% 2% 2% 2%;
    border-right-width: 3px; 
    border-right-color: orange;
    top: 5px;
    width: 18%;
    float: left;

}

.clearFloat {
    clear: both;
    
}

.logoImage {
    height: 20px;
    width: 20px;
    float: right;
    padding-top: 1%;
    padding-right: 2%;
}

.centreAlign {
    display: flex; 
    justify-content: center;
}
